* {
  padding:0;
  margin:0;
}

html, body {
  height:100%;
}

#app {
  position:relative;
  max-width:600px;
  min-height:100%;
  margin:0 auto;
}

#navbar {
  background-color:brown;
  color:white;
  position:relative;
  height:4rem;
}

#navbar h2 {
  margin-left:2rem;
  font-size:120%;
  line-height:4rem;
}

#navbar #backButton, #navbar #moreButton, #navbar #createButton {
  display:block;
  font-size:120%;
  position:absolute;
  height:100%;
  width:2rem;
  text-align:center;
  box-sizing:border-box;
  text-decoration:none;
  color:white;
}



#navbar #moreButton, #navbar #createButton {
  right:0;
  top:0;
}

#navbar button {
  line-height:inherit;
  color:black;
  background-color:transparent;
  border:none;
}

#navbar #backButton:active {
  background-color:black;
}

#bottombar {
  position:absolute;
  bottom:0;
  padding:1rem;
  overflow:hidden;
  box-sizing:border-box;
  right:0;
}

#topbar {
  padding:1rem 1rem 0 1rem;
  width:100%;
  box-sizing:border-box;
  overflow:hidden;
  margin-bottom: 1rem;
}

#topbar button {
  display:block;
  float:left;
  margin-right:1rem;
}

#bottombar button {
  display:block;
  float:right;
  margin-left: 1rem;
}

#main {
  
}

.listView {
  list-style-type:none;
}

.listView li {
  display:block;
  border-bottom:1px solid #c0c0c0;
}

.listView a {
  display:block;
  padding:1rem 1rem;
}

.floatingButton {
  border:none;
  width:3rem;
  height:3rem;
  border-radius:1.5rem;
  background-color:brown;
  color:white;
  box-shadow:1px 1px 20px black;
}

.formRow {
  padding:0 1rem;
  margin-bottom:1rem;
  margin-top: 1rem;
}

.formLabelInputPair label, .formLabelInputPair input {
  display:block;
  width:100%;
  box-sizing:border-box;
}

input, button {
  padding:.6rem;
}

#popup {
  position:absolute;
  top:1rem;
  right:2rem;
  max-width:80%;
  min-width:40%;
  background-color:gray;
  color:white;
  list-style-type:none;
}

#popup li {
  overflow:hidden;
}

#popup button {
  box-sizing:border-box;
  width:100%;
}

#popup li label {
  padding:.6rem;
  display:block;
  line-height:1rem;
  height:1rem;
}

#popup li input {
  display:block;
  float:left;
  line-height:1rem;
  height:1rem;
  margin-right:.4rem;
}

.fullwidthButton {
  width:100%;
}

.doCourseQuestion {
  padding:0 1rem;
  margin-bottom:1rem;
  margin-top:1rem;
}

.doCourseQuestionTitleSource {
  margin-right:1rem;
}

.doCourseQuestionEntry {
  font-size:140%;
}

.doCourseOptions, .doCourseInput {
  padding:0 1rem;
  margin-bottom:1rem;
  position:relative;
  overflow:hidden;
}

.doCourseInput input {
  display:block;
  box-sizing:border-box;
  width:100%;
}

.doCourseOptions button {
  display:block;
  width:50%;
  box-sizing:border-box;
  float:left;
  padding:2rem;
  font-size:140%;
}

.doCourseOptions button.wrong, .doCourseInput input.wrong {
  background-color:red;
  color:white;
}

.doCourseOptions button.success, .doCourseInput input.success {
  background-color:green;
  color:white;
}

.doCourseQuestionTitle {
  margin-bottom:1rem;
}

.w1-3 {
  box-sizing:border-box;
  width:calc(100% / 3);
}

.deleteButton {
  color:red;
}

.entriesList li {
  
}