.active {
	font-weight:bold;
}

#inProgress {
  position:fixed;
  padding:1rem;
  margin:1rem auto;
  background-color:yellow;
  color:black;
}

#errorDialog {
  position:fixed;
  padding:1rem;
  margin:1rem auto;
  background-color:red;
  color:white;
}

#successDialog {
  position:fixed;
  padding:1rem;
  margin:1rem auto;
  background-color:green;
  color:white;
}

input:required:invalid, input:focus:invalid {
  border-color:red;
}

