* {
  padding:0;
  margin:0;
}

html, body, #app, #app > div, #screen {
  height:100%;
}

#app, #screen {
  position:relative;
}

body {
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .04em;
}

a, button {
  cursor:pointer;
}

#navbar {
  height:56px;
  background-color:#607D8B;
  overflow:hidden;
  box-shadow:0 0 2px black;
  position:relative;
  z-index:1;
}

#main {
  box-sizing:border-box;
  height:calc(100% - 56px);
  background-color:white;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}

#navbarTitle {
  top:0;
  position:absolute;
  margin-left:56px;
  margin-right:56px;
  line-height:56px;
  color:white;
  font-weight:bold;
}

#navbarRight {
  right:0;
  top:0;
}

.navbarButtonContainer {
  width:56px;
  overflow:hidden;
  height:56px;
  position:absolute;
}

.navbarButtonContainer button {
  height:56px;
  width:56px;
  box-sizing:border-box;
  border:none;
  background-color:transparent;
  color:white;
}

.navbarButtonContainer button:active, .navbarButtonContainer button:focus {
  background-color:#263238;
  font-weight:bold;
}

ul.listView {
  list-style-type:none;
}

ul.listView li {
  display:block;
  min-height:56px;
  border-bottom:1px solid #d0d0d0;
}

ul.listView li a {
  padding:28px;
  display:block;
  text-decoration:none;
  color:black;
}

.row {
  padding:14px 28px;
}

.rowinner {
  overflow:hidden;
  line-height:20px;
}

.rowinner input[type='checkbox'], label input[type='radio'] {
  display:block;
  float:left;
}



.rowinner label {
  margin-left:28px;
}

label > span {
  margin-left:14px;
}

label {
  display:block;
}

label.titleLabel {
  font-weight:bold;
  margin-bottom:7px;
}

input[type='text'], input[type='number'] {
  box-sizing:border-box;
  width:100%;
  display:block;
  padding:8px;
  border:none;
  border-bottom:1px solid #c0c0c0;
  background-color:#fcfcfc;
  font-size:16px;
}

button.normalButton {
  padding:4px;
  box-sizing:border-box;
  border:none;
  border-radius:2px;
  min-width:64px;
  height: 36px;
  padding: 0 16px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  outline:1px solid #c0c0c0;
  background: rgba(158,158,158,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

button.primaryButton {
  background: #263238;
  color: #ffffff;
}

.buttonbar {
  
}

.buttonbar-3 button {
  width:calc(100% / 3);
}

.deleteButton, a.deleteLink, ul.listView li a.deleteLink {
  color:red;
}

#popup {
  position:absolute;
  top:56px;
  right:10px;
  background-color:white;
  list-style-type:none;
  box-shadow:0 0 2px black;
  z-index:2;
}

ul#popup.listView li {
  min-height:28px;
}

ul#popup.listView li a, ul#popup.listView li label, ul#popup.listView li input[type='text'] {
  padding:14px;
  min-width:200px;
}

#bottombar {
  position:absolute;
  bottom:0;
  width:100%;
  box-sizing:border-box;
}

#answerOptionWrapper button {
  width:50%;
  min-height:100px;
  border: none;
  outline:1px solid #c0c0c0;
  display:block;
  float:left;
  background-color: rgba(158,158,158,.2);
  font-size:16px;
}

#answerOptionWrapper button:focus, button:focus {
  outline:1px solid #000000;
}

#answerOptionWrapper button span {
  display:block;
}

#answerOptionWrapper button span.phone {
  visibility:hidden;
  font-style:italic;
  font-size:80%;
}

#answerOptionWrapper button.wrong span.phone,
#answerOptionWrapper button.success span.phone,
#answerOptionWrapper button.shouldbesuccess span.phone {
  visibility:visible;
}

input.success, #answerOptionWrapper button.success {
  background-color:#1B5E20;
  color:white;
}

#answerOptionWrapper button.shouldbesuccess {
  color:#1B5E20;
  font-weight:bold;
}

input.wrong, #answerOptionWrapper button.wrong {
  background-color:#DD2C00;
  color:white;
}
button.fullwidthButton {
  width:100%;
}
.floatright button {
  float:right;
}
#dialog, #inProgress {
  position: absolute;
  top: 66px;
  background-color: white;
  box-shadow: 0 0 2px black;
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
  padding: 28px;
  text-align: center;
  z-index:3;
}
.dialog_error {
  color:red;
}

.dialog_warning {
  color:#FF5722;
}

.dialog_success {
  color:#1B5E20;
}

#inProgress {
  color:black;
}

.floatingButton {
  width:56px;
  height:56px;
  border-radius:28px;
  background-color:#FF5722;
  color:white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  position:absolute;
  border:none;
  font-size:140%;
  line-height:56px;
  z-index:2;
}

button.floatingButton:focus {  
  outline:none;
}


#floatingBottomButton {
  right:14px;
  bottom:14px;
}

ul.editMode li {
  display:none;
}

ul.editMode li#activeEditListItem {
  display:block;
}

.doCourseQuestionTitleSource {
  margin-right:1rem;
}

.doCourseQuestionTitleSourceValue {
  font-size:16px;
  font-weight:bold;
}

.entryItemSource, .entryItemDestination {
  font-size:140%;
}
.entryItemPhone {
  font-style:italic;
}

.disabledLink {
  opacity:.4;
}

button:disabled {
  opacity:.4;
}

#answerOptionWrapper button:disabled {
  opacity:1;
}

@media (min-width: 768px) {
  
  #app {
    max-width:768px;
    margin:0 auto;
    box-shadow:0 0 2px black;
  }
  
  #inProgress {
    width:728px;
    margin:0 auto;
    box-shadow:0 0 2px black;
    left:20px;
  }
  
  #navbarRight {
    position:absolute;
    left:calc(768px - 56px);
  }
  
  #popup {
    width:300px;
    left:calc(768px - 300px);
  }
  
  #floatingBottomButton {
    position:absolute;
    top:0;
    left:calc(768px - 112px);
    height: 56px;
    width: 56px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    color: white;
    border-radius:0;
    box-shadow:none;
  }
  
  #floatingBottomButton:active, #floatingBottomButton:focus {
    background-color:#263238;
    font-weight:bold;
  }
  
}