* {
  padding:0;
  margin:0;
}

html, body {
  height:100%;
}

#app {
  position:relative;
}

#navbar {
  background-color:brown;
  color:white;
  position:relative;
}

#navbar h2 {
  margin-left:2rem;
  font-size:120%;
  padding:2rem 0;
}

#navbar #backButton, #navbar #moreButton {
  display:block;
  font-size:120%;
  position:absolute;
  height:100%;
  width:2rem;
  padding:2rem 0;
  text-align:center;
  box-sizing:border-box;
  text-decoration:none;
  color:white;
}

#navbar #moreButton {
  right:0;
  top:0;
}

#navbar #backButton:active {
  background-color:black;
}

#bottombar {
  position:fixed;
  bottom:0;
  padding:1rem;
  overflow:hidden;
  box-sizing:border-box;
  width:100%;
}

#topbar {
  padding:1rem;
  width:100%;
  box-sizing:border-box;
  overflow:hidden;
}

#topbar button {
  display:block;
  float:left;
  margin-right:1rem;
}

#bottombar button {
  display:block;
  float:right;
}

#main {
  
}

.listView {
  list-style-type:none;
}

.listView li {
  display:block;
  border-bottom:1px solid #c0c0c0;
}

.listView a {
  display:block;
  padding:1rem 1rem;
}

.floatingButton {
  border:none;
  width:3rem;
  height:3rem;
  border-radius:1.5rem;
  background-color:brown;
  color:white;
  box-shadow:1px 1px 20px black;
}

.formRow {
  padding:0 1rem;
  margin-bottom:1rem;
}

.formLabelInputPair label, .formLabelInputPair input {
  display:block;
  width:100%;
  box-sizing:border-box;
}

input, button {
  padding:.6rem;
}

#popup {
  position:fixed;
  top:1rem;
  right:2rem;
  max-width:80%;
  min-width:40%;
  background-color:black;
  color:white;
}

.fullwidthButton {
  width:100%;
}

.doCourseQuestion {
  padding:0 1rem;
  margin-bottom:1rem;
  margin-top:1rem;
}

.doCourseQuestionTitleSource {
  
}

.doCourseQuestionEntry {
  
}

.doCourseOptions {
  padding:0 1rem;
  margin-bottom:1rem;
  position:relative;
  overflow:hidden;
}

.doCourseOptions button {
  display:block;
  width:50%;
  box-sizing:border-box;
  float:left;
  padding:2rem;
}

.doCourseOptions button.wrong {
  background-color:red;
  color:white;
}

.doCourseOptions button.success {
  background-color:green;
  color:white;
}

.doCourseQuestionTitle {
  margin-bottom:1rem;
}

