.active {
	font-weight:bold;
}

#inProgress {
  position:fixed;
  top:1rem;
  padding:1rem;
  margin:1rem auto;
  background-color:yellow;
  color:black;
  opacity:0.2;
  transition:opacity .6s;
}

#inProgress.visibleSpinner {
  opacity:1;
}


#dialog {
  position:fixed;
  padding:1rem;
  margin:1rem auto;
}

.dialog_success {
  background-color:green;
  color:white;
}

.dialog_error {
  background-color:red;
  color:white;
}

.dialog_warning {
  background-color:orange;
  color:white;
}

input:required:invalid, input:focus:invalid {
  border-color:red;
}

.formRow {
  margin:0 0 1rem 0;
}

.formLabelInputPair label {
  display:block;
}

.formLabelInputPair input {
  
}

.formInputLabelPair label {
  
}

.formInputLabelPair input {
  
}

.toolbar, .smallToolbar {
  overflow:hidden;
}

button, input {
  margin:2px;
}

.toolbar button, .smallToolbar button {
  display:block;
  float:left;
  margin-right:1rem;
}

.smallToolbar button {
  margin-right:.2rem;
}

.bottomToolbar {
  
}

.topToolbar {
  
}

.deleteButton {
  color:red;
}

.doCourseQuestion {

}

.doCourseQuestionTitle {
  margin-bottom:.4rem;
  font-weight:bold;
}

.doCourseQuestionEntry {
  margin-bottom:.4rem;
  font-weight:bold;
}

.doCourseOptions, .doCourseInput {
  position:relative;
  width:200px;
  overflow:hidden;
  margin-bottom:1rem;
}

.doCourseOptions button {
  position:relative;
  display:table-cell;
  float:left;
  width:80px;
  height:80px;
  border:1px solid black;
  margin:10px;
  padding:0;
  box-sizing:border-box;
  vertical-align:middle;
  text-align:center;
  font-weight:bold;
  background-color:#e0e0e0;
}

input.success, .doCourseOptions button.success {
  background-color:green;
  color:white;
}

input.wrong, .doCourseOptions button.wrong {
  background-color:red;
  color:white;
}

input:focus, button:focus {
  outline:2px solid black;
}
