.active {
	font-weight:bold;
}

#inProgress {
  position:fixed;
  padding:1rem;
  margin:1rem auto;
  background-color:yellow;
  color:black;
}

#errorDialog {
  position:fixed;
  padding:1rem;
  margin:1rem auto;
  background-color:red;
  color:white;
}

#successDialog {
  position:fixed;
  padding:1rem;
  margin:1rem auto;
  background-color:green;
  color:white;
}

input:required:invalid, input:focus:invalid {
  border-color:red;
}



.formRow {
  margin:0 0 1rem 0;
}

.formLabelInputPair label {
  display:block;
}

.formLabelInputPair input {
  
}

.formInputLabelPair label {
  
}

.formInputLabelPair input {
  
}

.toolbar, .smallToolbar {
  overflow:hidden;
}

.toolbar button, .smallToolbar button {
  display:block;
  float:left;
  margin-right:1rem;
}

.smallToolbar button {
  margin-right:.2rem;
}

.bottomToolbar {
  
}

.topToolbar {
  
}

.deleteButton {
  color:red;
}

.doCourseQuestion {

}

.doCourseQuestionTitle {
  display:block;
  margin-bottom:.4rem;
  font-weight:bold;
}

.doCourseQuestionEntry {
  display:block;
  margin-bottom:.4rem;
  font-weight:bold;
}

.doCourseOptions, .doCourseInput {
  position:relative;
  width:200px;
  overflow:hidden;
  margin-bottom:1rem;
}

.doCourseOptions button {
  position:relative;
  display:table-cell;
  float:left;
  width:80px;
  height:80px;
  border:1px solid black;
  margin:10px;
  padding:0;
  box-sizing:border-box;
  vertical-align:middle;
  text-align:center;
  font-weight:bold;
  background-color:#e0e0e0;
}

input.success, .doCourseOptions button.success {
  background-color:green;
  color:white;
}

input.wrong, .doCourseOptions button.wrong {
  background-color:red;
  color:white;
}
